/* Homepage */

.nav-header {
    place-items: start;
    list-style: none;
}

#navbarDropdown {
    color: white;
}

#title-container {
    height:95vh;
    width: 100%; 
}

#left-side .nav-header nav .container-fluid li .nav-link, #nav-button-left {
    background-color: rgb(55, 55, 55);
    color: white;
}

#right-side .nav-header nav .container-fluid li .nav-link, #nav-button-right {
    background-color: rgb(200, 200, 200);
    color: black;
}

.dropdown-menu {
    background-color: white;
}


#title-container .side {
    height:95vh;
    width: 100%;    

    display: grid;

    overflow: hidden;
    position: absolute;
}

#title-container #left-side {
    background-color: black;
    color: white;
    z-index: 2;
}

#title-container #right-side {
    background-color: white;
    color: black;
}

.side .title {
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
    margin: 0px 15vw;
    width: 70vw;
}

 .side .description {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2vw;
    line-height: 0.8em;
    margin: 0px 15vw;
    width: 70vw;
}


#sample-projects {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    
}

#title-footer a{
    font-family: 'Bebas Neue', cursive;
    color: white;
    position: relative;
    text-decoration: none;
}

footer ul .nav-item a {
    color: white;
    position: relative;
    text-decoration: none;
    font-weight: 500;
}

 #title-footer a:hover, footer ul .nav-item a:hover {
    color: white;
}

 #title-footer a::before, footer ul .nav-item a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

#title-footer a:hover::before, footer ul .nav-item a:hover::before {
    transform: scaleX(1);
}

footer p {
    color: white;
}

footer ul .nav-item a {
    color: white!important;
}


/* Layout page*/

.container-fluid #title {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.55);
    border-color: rgba(0,0,0,.1);
}

.navbar-light .navbar-nav .nav-link, .container-fluid #title {
    color: white;
    position: relative;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link:hover, .container-fluid #title:hover {
    color: white;
}


.navbar-light .navbar-nav .nav-link::before, .container-fluid #title::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover::before, .container-fluid #title:hover::before {
    transform: scaleX(1);   
}

div ul li #nav-tabs, div ul li #navbarDarkDropdownMenuLink {
    color: white!important;
}

/* Mario page */
#mario-title {
    font-family: 'Silkscreen', cursive;
}

#mario-block {
    width: 100% ;
    height: auto;
}


#mario-empty-block {
    filter: brightness(1000);
    width: 100% ;
    height: auto;
}

/* Credit page  */
#credit-title {
    font-family: 'Kanit', sans-serif;
}

.credit-bullet li:before { 
    content: '💳'; 
    margin-left: -20px; 
    margin-right: 10px; 
} 

#copy-button {
    font-size: 17px;
    padding-left: 10px;
}

/* Scrabble page */
#scrabble-title {
    font-family: 'Libre Franklin', sans-serif;
}

#scrabble-tile {
    margin: 3px;
    padding: 3px;
    text-align: center;
    line-height: 40px;
    width: 45px;
    height: 45px;
    border: 2px solid #ccc;
    background: #fce9c1;
    font-size: 18pt;
}


/* Readability page  */
#readability-title {
    font-family: 'Roboto Mono', monospace;
}

#readability-paragraph {
    max-width: 70vw;
}

#no-bullet {
    list-style-type: none;
}


/* Substitution page */
#substitution-title {
    font-family: 'Noto Sans Vai', sans-serif;
}

#substitution-key, #substitution-text {
    max-width: 21rem;
}

.key-bullet li:before { 
    content: '🔑'; 
    margin-left: -20px; 
    margin-right: 10px; 
} 


/* Plurality page */
#plurality-title {
    font-family: 'Russo One', sans-serif;
}

@media screen and (min-width: 600px) {
    #name-box {
        max-width: 50vw;
    }
}


/* Filter page */
#filter-title {
    font-size: 60px;
    font-family: 'Shalimar', cursive;
}

#file-box {
    max-width: 50vw;
}