#title-container {
    height:95vh;
    width: 100%; 
}

#title-container .side {
    height:95vh;
    width: 100%;    

    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
}

#title-container #left-side {
    background-color: black;
    color: white;
    z-index: 2;
}

#title-container #right-side {
    background-color: white;
    color: black;
}

.side .title {
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
    margin: 0px 15vw;
    width: 70vw;
}

 .side .description {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2vw;
    line-height: 0.8em;
    margin: 0px 15vw;
    width: 70vw;
}


#sample-projects {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    
}

#title-footer {
    font-family: 'Bebas Neue', cursive;
    color: white;
}

footer ul .nav-item a {
    color: white;
}

#title-footer a:hover, .nav-item a:hover {
    color: gray;
}

footer p {
    color: white;
}