#title-container {
    height:95vh;
    width: 100%; 
}

#title-container .side {
    height:95vh;
    width: 100%;    

    display: grid;
    place-items: center;

    overflow: hidden;
    position: absolute;
}

#title-container #left-side {
    background-color: black;
    color: white;
    z-index: 2;
}

#title-container #right-side {
    background-color: white;
    color: black;
}

.side .title {
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
    margin: 0px 15vw;
    width: 70vw;
}

 .side .description {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 2vw;
    line-height: 0.8em;
    margin: 0px 15vw;
    width: 70vw;
}


#sample-projects {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    
}

#title-footer a{
    font-family: 'Bebas Neue', cursive;
    color: white;
    position: relative;
    text-decoration: none;
}

footer ul .nav-item a {
    color: white;
    position: relative;
    text-decoration: none;
}

#title-footer a:hover, .nav-item a:hover {
    color: white;
}

#title-footer a::before, .nav-item a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  
  #title-footer a:hover::before, .nav-item a:hover::before {
  transform: scaleX(1);
}
footer p {
    color: white;
}

