{% extends "login-layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
    <h3 class="py-3 text-dark">Account</h3>

    <div class="pb-3">
        <form action="/account/change_username" method="post">
            <div class="row align-items-center justify-content-center">
                <div class="col">
                  <label for="username" class="col-form-label float-md-end">Username</label>
                </div>
                <div class="col">
                    <input autocomplete="off" class="form-control mx-auto w-auto my-3 float-md-start" id="username" name="username" placeholder="Username" type="text">
                </div>
            </div>

            <button class="btn btn-dark m-3" id="submit"name="submit" value="save-username" type="submit">Save New Username</button>
        </form>
            <h5 class="py-4" id="or"><span class="line-center">OR</span></h5>


        <form action="/account/change_password" method="post">
            <div class="row align-items-center justify-content-center">
                <div class="col">
                  <label for="old-password" class="col-form-label float-md-end">Old Password</label>
                </div>
                <div class="col">
                    <input autocomplete="off" class="form-control mx-auto w-auto my-3 float-md-start" id="old-password" name="old-password" placeholder="Old Password" type="password">
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col float-md-end">
                  <label for="new-password" class="col-form-label float-md-end">New Password</label>
                </div>
                <div class="col">
                    <input autocomplete="off" class="form-control mx-auto w-auto my-3 float-md-start" id="new-password" name="new-password" placeholder="New Password" type="password">
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col float-md-end">
                  <label for="password-verification" class="col-form-label float-md-end">Retype New Password</label>
                </div>
                <div class="col">
                    <input autocomplete="off" class="form-control mx-auto w-auto my-3 float-md-start" id="password-verification" name="password-verification" placeholder="New Password" type="password">
                </div>
            </div>

            <div class="form-text mb-3">Never use password that you use in other accounts.</div>
            
            <button class="btn btn-dark m-3" id="submit"name="submit" value="save-password" type="submit">Save New Password</button>
        </form>
    </div>

    <script>
        /* Enter username in the username text box */
        const input = document.querySelector("#username");
        const username = `{{ username }}`;

        input.value = username;
    </script>
    <script>
        function submitButtonCLick(event) {
            event.preventDefault();
        }
    
    </script>
    
{% endblock %}