{% extends "layout.html" %}

{% block title %}
    Birthday
{% endblock %}

{% block main %}
    <h1 class="py-3" id="birthday-title">BIRTHDAY</h1>
    <h6>Save your family and friends birthdays.</h6>
    <p>(sorted by upcoming birthday)</p><br>

    <form class="row g-3" action="/birthday" method="post">
        <div class="col-md-4">
            <input autofocus type="text" class="form-control" id="name" name="name" placeholder="Name" required>
        </div>
        <div class="col-md-4">
            <select autofocus class="form-select" id="month" name="month">
                <option disabled hidden selected>Month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="col-md-4">
            <select autofocus class="form-select" id="day" name="day">
                <option disabled hidden selected>Day</option>
                {% for day in range(1,32) %}
                    <option>{{ day }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-12">
          <button class="btn btn-dark" type="submit">Add to Birthday List</button>
        </div>

    </form>


    {% if people %}
        <div class="my-5">
            <table class="table table-hover">
                <thead>
                    <th>#</th>
                    <th>Name</th>
                    <th>Birthday</th>
                </thead>
                <tbody>
                    {% for count, person in people %}
                        <tr>
                                <td class="align-middle">{{ count }}</td>
                                <td class="align-middle">{{ person["name"] }}</td>
                                <th class="align-middle">{{ person["birthday"] }}</th>
                                <td class="col-1">
                                    <form class="row g-3" action="/birthday/delete" method="post">
                                        <button type="submit" class="btn p-0 pt-1" id="remove-btn" name="remove-btn" value="{{ person['name'] }}">
                                            <span class="material-symbols-rounded" id="remove-logo" name="remove-logo" >cancel</span>
                                        </button>
                                    </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


    <script>


    </script>
{% endblock %}