{% extends "layout.html" %}

{% block title %}
    Credit
{% endblock %}

{% block main %}
<h1 class="py-3" id="credit-header">CREDIT</h1>
<h6>Determine what credit card it is based on its number.</h6><br>

<div class="pb-5">
    <form action="/credit" method="post">
      <label class="form-label">Credit Card Number</label>
      <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id=cc_number name=cc_number placeholder="5105105105105100" required type="number">
      <button class="btn btn-dark m-3" type="submit">Enter</button>
    </form>
</div>

{% if get_flashed_messages(category_filter="success") %}

    <!-- credit card: http://pixelartmaker.com/art/d53cda86152db67 -->



{% endif %}
{% endblock %}