{% extends "layout.html" %}

{% block title %}
    Credit
{% endblock %}

{% block main %}
<h1 class="py-3" id="credit-header">CREDIT</h1>
<h6>Determine what credit card it is based on its number.</h6><br>

<div class="pb-5">
    <form action="/credit" method="post">
      <label class="form-label">Credit Card Number</label>
      <input aria-describedby="cc_number_help" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cc_number" min="0" name="cc_number" placeholder="5105105105105100" required type="number">
      <div id="cc_number_help" class="form-text">Never enter your true credit card number.</div>
      <button class="btn btn-dark m-3" type="submit">Enter</button>
    </form>
</div>

<div class="text-start p-3">
    <details>
        <summary class="fw-bold pb-3">Not sure what to enter?</summary>
        <ul>
            <li class="mx-3">
                <p class="fw-bold">American Express</p>
                <ul class="credit-bullet">
                    <li><span>378282246310005</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li><span>371449635398431</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li class="pb-3"><span>378734493671000</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                </ul>
            </li>
            <li class="mx-3">
                <p class="fw-bold">Mastercard</p> 
                <ul class="credit-bullet">
                    <li><span>5555555555554444</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li><span>5105105105105100</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li><span>5199999999999991</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li class="pb-3"><span>5299999999999990</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                </ul>
            </li>
            <li class="mx-3">
                <p class="fw-bold">Visa</p>
                <ul class="credit-bullet">
                    <li><span>4111111111111111</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li><span>4003600000000014</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li><span>4012888888881881</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li><span>4222222222222</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li><span>4999991111111113</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li class="pb-3">
                        <span>4999992222222229</span><span class="material-symbols-rounded" id="copy-button">file_copy</span>
                    </li>
                </ul>
            </li>
            <li class="mx-3">
                <p class="fw-bold">Invalid</p>
                <ul class="credit-bullet">
                    <li><span>6176292929</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                    <li><span>1234567890</span><span class="material-symbols-rounded" id="copy-button">file_copy</span></li>
                </ul>
            </li>
        </ul>
    </details>
</div>

<div class="text-start p-3">
    <details>
        <summary class="fw-bold">More details</summary>
        <ul>
            <li class="mx-3">
                Credit can only determine three (3) types of cards: 
                <a class="link-dark" href="https://www.americanexpress.com/" target="_blank">American Express</a>, 
                <a class="link-dark" href="https://www.mastercard.com/global/en.html" target="_blank">Mastercard</a>, and 
                <a class="link-dark" href="https://www.visa.com/" target="_blank">Visa</a>.
            </li>
            <li class="mx-3">
                Luhn's Algorithm is used to determine the validity of a card.
            </li>
            <li class="mx-3">
                <a class="link-dark" href="https://cs50.harvard.edu/x/2022/psets/1/credit/" target="_blank">Know more</a>
                 on the its implementation.
            </li>
        </ul>
    </details>
</div>


{% if get_flashed_messages(category_filter="success") %}

    <!-- credit card: http://pixelartmaker.com/art/d53cda86152db67 -->



{% endif %}


<script src="/static/js/copy-clipboard.js"></script>

{% endblock %}