{% extends "layout.html" %}

{% block title %}
    Filter
{% endblock %}

{% block main %}
    <div class="mb-5">
        <h1 class="py-3" id="filter-title">FILTER</h1>
        <h6>Filters an image.</h6><br>
    </div>

    <form action="/filter" method="post" enctype="multipart/form-data">
        <div class="mt-5 mb-4 pb-4">
            <select autofocus class="form-select form-select-lg mb-3 mx-auto w-auto" aria-label=".form-select-lg example" id="filter" name="filter">
                <option hidden selected>Choose filter to use ...</option>
                <option>Grayscale</option>
                <option>Reflection</option>
                <option>Blur</option>
                <option>Edges</option>
            </select>
        </div>

        <div class="mx-auto w-auto" id="file-box">
            <label for="formFile" class="form-label" >Upload image</label>
            <input accept="image/*" class="form-control" type="file" id="file" name="file">
            <button class="btn btn-dark mt-3" type="submit">Submit</button>

        </div>

        <h5 class="py-4">OR</h5>





        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Random Image
        </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">  
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" class="btn btn-light" name="random-image-button" value="1">
                                    <img src="/static/images/1.jpg" class="rounded float-start" id="random-image" alt="...">
                                </button>
                                <button type="submit" class="btn btn-light" name="random-image-button" value="2">
                                    <img src="/static/images/2.jpg" class="rounded float-start" id="random-image" alt="...">
                                </button>
                                <button type="submit" class="btn btn-light" name="random-image-button" value="3">
                                    <img src="/static/images/3.jpg" class="rounded float-start" id="random-image" alt="...">
                                </button>
                                <button type="submit" class="btn btn-light" name="random-image-button" value="4">
                                    <img src="/static/images/4.jpg" class="rounded float-start" id="random-image" alt="...">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>






<!-- If image is uploaded by user  -->
{% if filename %}
	<div class="mt-5">
		<img src="{{ url_for('display_image', filename=filename) }}" alt="uploaded image" id="result-image">
	</div>
{% endif %}


<!-- If image is from random images  -->
{% if random_image_filename %}
	<div class="mt-5">
		<img src="{{ random_image_filename }}" alt="random image" id="result-image">
	</div>
{% endif %}


{% endblock %}
