<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- https://fonts.google.com/ -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Chakra+Petch:wght@700&family=Comforter+Brush&family=Inspiration&family=Kanit&family=Libre+Franklin:wght@600&family=Noto+Sans+Vai&family=Roboto+Mono:wght@700&family=Russo+One&family=Shalimar&family=Silkscreen:wght@700&display=swap" rel="stylesheet">
                
        <!-- https://fonts.google.com/icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />        
        
        <!-- https://fonts.google.com/icons?icon.query=stack -->
        <link href="/static/images/favicon-black.png" rel="icon" media="(prefers-color-scheme: light)">
        <link href="/static/images/favicon-white.png" rel="icon" media="(prefers-color-scheme: dark)">


        <link href="/static/css/styles.css" rel="stylesheet">

        <title>Compiled 50 - {% block title %}{% endblock %}</title>

    </head>

    <body class="d-flex flex-column min-vh-100">

          <nav class="bg-dark navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/" id="title">Compiled 50</a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                  <span class="material-symbols-rounded">
                    menu
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Projects
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark bg-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/mario">Mario</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/credit">Credit</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/scrabble">Scrabble</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/readability">Readability</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/substitution">Substitution</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/plurality">Plurality</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/filter">Filter</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/inheritance">Inheritance</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/trivia">Trivia</a></li>
                                  <li><a class="dropdown-item rounded-pill" id="dropdown-projects" href="/birthday">Birthday</a></li>
                                </ul>
                              </li>

                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            {% if session["user_id"] != 1 %}
                            <li class="nav-item"><a class="nav-link" href="/account" id="nav-tabs">Account</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="/logout" id="nav-tabs">Log Out</a></li>
                        </ul>
                </div>
            </div>
        </nav>
        
        
        {% if get_flashed_messages(category_filter="error") %}
            <header>
                <div class="alert alert-danger mb-0 text-center alert-dismissible fade show" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </header>
        {% elif get_flashed_messages(category_filter="success") %}
            <header>
                <div class="alert alert-success mb-0 text-center alert-dismissible fade show" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </header>
        {% elif get_flashed_messages(category_filter="warning") %}
            <header>
                <div class="alert alert-warning mb-0 text-center alert-dismissible fade show" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </header>

        {% endif %}
        

    <main class="container-fluid py-5 text-center">
      {% block main %}{% endblock %}
    </main>
        
    <div class="container-fluid p-5 bg-dark mt-auto">
        <footer>
          <h4  id="title-footer"><a class="nav-item px-2" href="/">Compiled 50</a></h4>
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a class="nav-link px-2" id="footer-item" href="https://github.com/SiegfredLorelle/compiled-50" target="__blank">Github</a></li>
                <li class="nav-item"><a class="nav-link px-2" id="footer-item" href="https://www.facebook.com/profile.php?id=1718881634" target="__blank">Facebook</a></li>
                <li class="nav-item"><a class="nav-link px-2" id="footer-item" href="https://www.linkedin.com/in/siegfred-lorelle-mina-b4900b167" target="__blank">LinkedIn</a></li>
                <li class="nav-item"><button type="button" class="btn px-0" id="footer-item" data-bs-toggle="modal" data-bs-target="#email-modal">Contact Us</button></li>
            </ul>
            <p class="text-center">© <span><script>document.write( new Date().getUTCFullYear() );</script></span> Siegfred Lorelle Mina</p>
        </footer>
    </div>

    <!-- Modal for sending message via email -->
    <div class="modal fade" id="email-modal" tabindex="-1" aria-labelledby="email-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="email-modal-label">Message for Devs</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/send_email" method="post">
            <div class="modal-body">
              <div class="mb-3">
                <label for="message" class="col-form-label">Message:</label>
                <textarea autofocus class="form-control" name="message" id="message"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              <button class="btn btn-dark my-3" type="submit" id="msg-submit-btn">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    </body>