{% extends "layout.html" %}

{% block title %}
    Plurality
{% endblock %}

{% block main %}
    <h1 class="py-3" id="plurality-title">PLURALITY</h1>
    <h6>Voting System Simulation</h6><br>


    <div class="pb-5">
        <form action="/plurality/candidates" method="post">

            <p class="fs-5 fw-bold pt-5 pb-2">Candidate Name</p>
            <div class="row mx-auto w-auto" id="name-box">
                <div class="col">
                  <input autofocus type="text" class="form-control" placeholder="First name" aria-label="First name" id="first_name" name="first_name" required>
                </div>
                <div class="col">
                  <input autofocus type="text" class="form-control" placeholder="Last name" aria-label="Last name" id="last_name" name="last_name" required>
                </div>
            </div>

            <div class="pt-4 p-5 mx-5 mt-4">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>


            <a class="btn btn-danger m-4" href="/plurality" id="back-button" role="button">Back</a>
            <button class="btn btn-dark m-4" id="back-button" type="submit">Next</button>
            
        </form>
    </div>

    {% if candidates %}
        <div class="mx-5">
            <table class="table table-hover caption-top table-sm">
                <caption>Candidates</caption>
                <thead>
                    <tr>
                        <th> Candidate #</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in candidates %}
                        <tr>
                            <td>{{ candidate["candidate_no"] }}</td>
                            <td>{{ candidate["full_name"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}


    <!-- Uses variable from python flask (cannot be placed in a dedicated js script) -->
    <script>
        // Get the number of current candidates and total number of candidates
        const numberOfCandidates = document.querySelector(".table").rows.length - 1;
        const totalNumberOfCandidates = {{ no_candidates }}

        // Compute the progress 
        const progressWidth = (numberOfCandidates / totalNumberOfCandidates) * 100

        // Get the progress bar's attribute and apply the appropriate progress
        const progressBar  = document.querySelector(".progress-bar")
        const progress = progressBar.style.width = `${progressWidth}%`
    </script>

{% endblock %}
