{% extends "layout.html" %}

{% block title %}
    Plurality
{% endblock %}

{% block main %}
    <h1 class="py-3" id="plurality-title">PLURALITY</h1>
    <h6>Voting System Simulation</h6><br>

    <form action="/plurality" method="post">
        <select class="form-select form-select-lg mx-auto w-auto" aria-label=".form-select-lg example" id="vote" name="vote">
            <option selected>Vote ...</option>
            {% for candidate in candidates %}
                <option>{{ candidate["full_name"] }}</option>
            {% endfor %}
        </select>
        <button class="btn btn-dark m-3" type="submit">Next</button>
    </form>

    {% if candidates %}
    <div class="mx-5">
        <table class="table table-hover caption-top table-sm">
            <caption>Votes</caption>
            <thead>
                <tr>
                    <th> Candidate #</th>
                    <th>Full Name</th>
                    <th>Number of Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                    <tr>
                        <td>{{ candidate["candidate_no"] }}</td>
                        <td>{{ candidate["full_name"] }}</td>
                        <td>{{ candidate["votes"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}
