{% extends "layout.html" %}

{% block title %}
    Plurality
{% endblock %}

{% block main %}
    <h1 class="py-3" id="plurality-title">PLURALITY</h1>
    <h6>Voting System Simulation</h6><br>


    <div class="pb-5">
        <form action="/plurality_candidates" method="post">

            <p class="fs-5 fw-bold pt-5 pb-2">Candidate</p>
            <div class="row mx-auto w-auto" id="name-box">
                <div class="col">
                  <input autofocus type="text" class="form-control" placeholder="First name" aria-label="First name" id="first_name" name="first_name" required>
                </div>
                <div class="col">
                  <input autofocus type="text" class="form-control" placeholder="Last name" aria-label="Last name" id="last_name" name="last_name" required>
                </div>
            </div>
            <button class="btn btn-danger m-4" id="back-button" type="button">Back</button>
            <button class="btn btn-dark m-4" id="back-button" type="submit">Next</button>
            
        </form>
    </div>

    {% if candidates %}
        <div class="mx-5">
            <table class="table table-hover caption-top table-sm">
                <caption>Candidates</caption>
                <thead>
                    <tr>
                        <th> Candidate #</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for candidate in candidates %}
                        <tr>
                            <td>{{ candidate["candidate_no"] }}</td>
                            <td>{{ candidate["full_name"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <script src="/static/js/go-back-to-plurality-1.js"></script>
{% endblock %}
