{% extends "layout.html" %}

{% block title %}
    Readability
{% endblock %}

{% block main %}
    <h1 class="py-3" id="readability-header">READABILITY</h1>
    <h6>Determine the approximate grade level needed to comprehend the paragraph.</h6><br>

    <div class="pb-5">
        <form action="/scrabble" method="post">
            <div class="input-group mx-auto" id="readability-paragraph">
                <span class="input-group-text">Paragraph</span>
                <textarea aria-label="With textarea" autocomplete="off" autofocus class="form-control" id="paragraph" name="paragraph" placeholder='Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, "and what is the use of a book," thought Alice "without pictures or conversation?"' required type="text"></textarea>
            </div>          
            <button class="btn btn-dark m-3" type="submit">Check Paragraph</button>
        </form>
    </div>







    <div class="text-start p-3">
        <details>
            <summary class="fw-bold">More Details</summary>
            <ul>
                <li class="mx-3">
                    The readability test used was <a class="link-dark" href="https://readable.com/readability/coleman-liau-readability-index/">Coleman-Liau index</a>. It considers the number of letters, words, and sentences of the paragraph.
                </li>
                <li class="mx-3">
                    It is <span class="fw-bold">highly encouraged to use proper spelling, grammar, and punctuation</span> as it can affect the accuracy of the Readability.
                </li>
                <li class="mx-3">
                    Readability will accepts everything including other languages (but better to use English) regardless of spelling, grammar and punctuation.
                </li>
            </ul>
        </details>
    </div>

{% endblock %}

