{% extends "layout.html" %}

{% block title %}
    Readability
{% endblock %}

{% block main %}
    <h1 class="py-3" id="readability-title">READABILITY</h1>
    <h6>Determine the approximate grade level needed to comprehend the paragraph.</h6><br>

    <div class="pb-5">
        <form action="/readability" method="post">
            <div class="input-group mx-auto" id="readability-paragraph">
                <span class="input-group-text">Paragraph</span>
                <textarea aria-label="With textarea" autocomplete="off" autofocus class="form-control" id="paragraph" name="paragraph" placeholder='Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, "and what is the use of a book," thought Alice "without pictures or conversation?"' required type="text"></textarea>
            </div>
            <div class="form-text">Use proper spelling, grammar, and punctuation.</div>

            <button class="btn btn-dark m-3" type="submit">Check Paragraph</button>
        </form>
    </div>

    {% if get_flashed_messages(category_filter="success") %}

        <p class="fs-3 fw-normal">Paragraph intended for:</p>
        <h2 class="text-primary">{{ grade_level }}</h2>

        <details class="py-5">
            <summary class="fw-bold">See most recent paragraph
                <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                    <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                </button>
            </summary>
            <p class="pt-3">{{ paragraph }}</p>

        </details>
        <br><br><br><br><br><br>
    {% endif %}


    <div class="text-start p-3">
        <details>
            <summary class="fw-bold pb-3">Not sure what to enter?</summary>
            <ul>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Pre-Grade 1
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">One fish. Two fish. Red fish. Blue fish.</p>
                    </details>
                </li>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 2
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">Would you like them here or there? I would not like them here or there. I would not like them anywhere.</p>
                    </details>
                </li>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 3
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">Congratulations! Today is your day. You're off to Great Places! You're off and away!</p>
                    </details>
                </li>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 5
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">Harry Potter was a highly unusual boy in many ways. For one thing, he hated the summer holidays more than any other time of year. For another, he really wanted to do his homework, but was forced to do it in secret, in the dead of the night. And he also happened to be a wizard.</p>
                    </details>
                </li>
                
                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 7
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">In my younger and more vulnerable years my father gave me some advice that I've been turning over in my mind ever since.</p>
                    </details>
                </li>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 8
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, "and what is the use of a book," thought Alice "without pictures or conversation?"</p>
                    </details>
                </li>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 8
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">When he was nearly thirteen, my brother Jem got his arm badly broken at the elbow. When it healed, and Jem's fears of never being able to play football were assuaged, he was seldom self-conscious about his injury. His left arm was somewhat shorter than his right; when he stood or walked, the back of his hand was at right angles to his body, his thumb parallel to his thigh.</p>
                    </details>
                </li>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 9
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">There are more things in Heaven and Earth, Horatio, than are dreamt of in your philosophy.</p>
                    </details>
                </li>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 10
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">It was a bright cold day in April, and the clocks were striking thirteen. Winston Smith, his chin nuzzled into his breast in an effort to escape the vile wind, slipped quickly through the glass doors of Victory Mansions, though not quickly enough to prevent a swirl of gritty dust from entering along with him.</p>
                    </details>
                </li>

                <li class="mx-3" id="no-bullet">
                    <details>
                        <summary class="pb-3">Grade 16+
                            <button class="btn rounded-circle m-1 shadow-none" id="copy-btn-bg" data-bs-toggle="tooltip" data-bs-placement="right" title="Copy">
                                <span class="material-symbols-rounded" id="copy-button">content_copy</span>
                            </button>
                        </summary>
                        <p class="pb-2 ps-5" id="readability-paragraph">A large class of computational problems involve the determination of properties of graphs, digraphs, integers, arrays of integers, finite families of finite sets, boolean formulas and elements of other countable domains.</p>
                    </details>
                </li>

            </ul>
        </details>
    </div>


    <div class="text-start p-3">
        <details>
            <summary class="fw-bold">More Details</summary>
            <ul>
                <li class="mx-3">
                    The readability test used was <a class="link-dark" href="https://readable.com/readability/coleman-liau-readability-index/" target="_blank">Coleman-Liau Index</a>. It considers the number of letters, words, and sentences of the paragraph.
                </li>
                <li class="mx-3">
                    It is <span class="fw-bold">highly encouraged to use proper spelling, grammar, and punctuation</span> as it can affect the accuracy of the Readability.
                </li>
                <li class="mx-3">
                    Readability is prone to miscount the number of sentences when periods (.) were not used to terminate a sentence.
                </li>
                <li class="mx-3">
                    Readability will accepts everything including other languages (but better to use English) regardless of spelling, grammar and punctuation.
                </li>
            </ul>
        </details>
    </div>


    <script src="static/js/copy-paste-paragraph.js"></script>
    <script src="/static/js/activate-tooltips.js"></script>





{% endblock %}

